<%-include('partials/navbar.ejs')-%>

    <div class="container">
        <% for(let i=0;i<blogsadd.length;i++) { %>
            <br><br>
            <h1>
                <%= blogsadd[i].title %>
            </h1>
            <p>
                <%=xyz[i]%>...<a class="read-more" href="/posts/<%=blogsadd[i].title%>">Read Full Blog</a>
            </p>
            <% } %>
            
            <br>
            <br>
            <h1>Want to write your blog?</h1>
            <p>Click <a class="rotm" href="/compose">here</a>  or in the Compose Blog tab</p>
    </div>

    <%-include('partials/footer.ejs')-%>