<%-include('navbar.ejs')-%>

<div class="container">
    <br>
    <br>
    <br><br>

    <h1>Home</h1>
    <br>
    <p><%=htext%></p><br><br>
        <h1>Day-1</h1>
        <p><%=d1text%></p>
        <br><br> <h1>Day-2</h1>
        <p><%=d2text%></p>
        
    </div>

<%-include('footer.ejs')-%>