<%-include('partials/navbar.ejs')-%>

    <div class="container">
        <% for(let i=0;i<blogsadd.length;i++) { %>
            <br><br>
            <h1>
                <%= blogsadd[i].title %>
            </h1>
            <p>
                <%=xyz[i]%>...<a class="read-more" href="/posts/<%=blogsadd[i].title%>">Read Full Blog</a>
            </p>
            <% } %>
    </div>

    <%-include('partials/footer.ejs')-%>